body {
  margin: 0;
  padding: 0;
  }

  h1{
    text-align: center;
    font-size: 5.3rem;
    font-family: Tahoma;
    color: rgba(255,183,126,255);
  }

  nav{
    background-color: pink;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    }
     ul{
      list-style-type: none;
     }
    .navbar-list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-right: 2rem;
      }

    .nav-link{
      font-weight: bold;
      font-size: 22px;
      color: white;
    }
    .menu-recipes {
      position: relative;
  }
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: pink;
      padding: 10px;
      border-radius: 5px;
      
  }

  .menu-recipes:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
  margin-bottom: 2px; 
  padding-bottom: 2px; 
  border-bottom: 1px solid #fff; 
  font-family: Tahoma;
  font-size: 16px;
}

/* I needed to remove the border from the last li*/
.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a{
  color: white;
}

.dropdown-menu > li:hover{
  color: pink;
  background-color: grey;
}

  #recipes{
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  .recipe-title{
    text-align: center;
    color: black;
    font-size: 1.6rem;
  }

  a{
    text-decoration: none;
  }

  #search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-right: 6px;
  }

  input{
    height: 20px;
    width: 130px;
    border: none;
	  border-radius: 20px;
    outline: none;
  }

  .stars {
    color: orange; 
    font-size: 20px;
    text-align: center;
  }
   
  #categories{
    background-color: aquamarine;
    height: 140px;
    display: flex;
    justify-content: center;
  }
  
  section > ul{
    display: flex;
    flex-direction:row;
    gap: 10px;
  }
  
  /* title animation */

  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 25%;
    display: inline-block;
    color: #1D3557;
  }
  #rolltext{
    display:flex;
    justify-content: left;
  }
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    
  }
  