body {
  margin: 0;
  padding: 0;
  }

  h1{
    text-align: center;
  }

  nav{
    background-color: pink;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    }

    ul{
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-right: 2rem;
      
      
    }
    .nav-link{
      font-weight: bold;
      font-size: 22px;
      color: white;
    }
  
  #recipes{
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  .recipe-title{
    text-align: center;
    color: black;
    font-size: 1.6rem;
  }

  a{
    text-decoration: none;
  }
   
  
  
  