:root{
  --main-color: #FCABA0;
  --sec-color: #B76156;
}


/* fonts */
@font-face {
  font-family: "Varuna";
  src: url("./varuna-personal-use-only.otf");
}

body {
  margin: 0;
  padding: 0;
  }

  h1{
    text-align: center;
    font-size: 4.5rem;
    font-family: "varuna";
    color: black;
  }

  

  nav{
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 2;
    }
     ul{
      list-style-type: none;
     }
    .navbar-list{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-right: 2rem;
      }

    .nav-link{
      font-weight: bold;
      font-size: 22px;
      color: white;
    }
    .menu-recipes {
      position: relative;
  }
    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--main-color);
      padding: 10px;
      border-radius: 5px;
      
  }

  .menu-recipes:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
  margin-bottom: 2px; 
  padding-bottom: 2px; 
  border-bottom: 1px solid #fff; 
  font-family: Tahoma;
  font-size: 16px;
}

/* I needed to remove the border from the last li*/
.dropdown-menu li:last-child {
  border-bottom: none;
}

.dropdown-menu a{
  color: white;
}

.dropdown-menu > li:hover{
  color: pink;
  background-color: grey;
}

  #recipes{
    display: flex;
    justify-content: center;
    gap: 18px;
  }

  .recipe-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: -6px;
  }

  #recipe-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  a{
    text-decoration: none;
  }

  #search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-right: 6px;
  }

  input{
    height: 30px;
    width: 130px;
    border: none;
	  border-radius: 20px;
    outline: none;
    margin-right: 10px;
  }

  .stars{
    color: orange; 
    font-size: 20px;
    margin-top: -4px;
  
  }
   
  #categories{
    
  }
  
  

  .curved > ul{
    display: flex;
    flex-direction:row;
    gap: 52px;
    align-items: center;
    z-index: 1;
  
  }

  .test{
    text-align: left;
    padding-left: 16rem;
  } 

  .curved{
  height: 400px;
  text-align: center;
  background-color: #FCABA0;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  }

  .curved #wave{
    display: block;
    position: absolute;
  }

  .curved img{
    border-radius: 20%;
  }

#blob{
  
}

.curved p{
  color: #000;
  font-weight: bold;
  font-size: 18px;
  font-family: Tahoma;
}
  .curved #wave:first-child{
    top: -75px;
  }

  .curved #wave:last-child{
    bottom: -75px;
  }

  button{
    background-color: #fff;
    border: none;
    border-radius: 0.25rem;
    position: absolute;
    cursor: pointer;
    right: 23px;
  }
  /* title animation */

  .roller{
    height: 4.6rem;
    line-height: 7rem;
    overflow: hidden; 
    width: 16.6%;
    display: inline-block;
    color: var(--main-color);
  }

  #rolltext{
    display:flex;
    justify-content: left;
    z-index: -1;
    
  }

  .roller #rolltext {
    position: relative;
    animation: slide 5s infinite;  
  }
  
  @keyframes slide {
    0%{
      top: 0;
    }
    25%{
      top: -7rem;    
    }
    50%{
      top: -14rem;
    }
    
  }
  